{% extends 'base.html' %}

{% block content %}
    <hr class="menu__border">

    <div>
        <h3 class="title"> About ... </h3>


        <p class="info">
            The bon Blog Template was build using pure HTML, CSS and JS. No additon frameworks were used to create this template. Bootstrap also has been avoided and CSS grid has been used instead. 🌞🌞🌞 So you get super fast page renders ⚡️⚡️⚡️. This template is resposive for all mobile, tablets, and Desktop browsers.
        </p>

        <p class="info">Use this template for free but please mention me as the template owner if you so choose to do so. Thank You! 😇😇😇 💜💜💜</p>

    </div>


{% endblock %}
